<div data-role="dialog" data-close-btn="right" data-corners="true" id="dialogPage">
  <div data-role="header">
    <h2>{{titel}}</h2>
    <h3>{{programdata.genre}}</h3>
  </div>
  <div data-role="content">
  	<table>
  		<tr>
			<td> <img src="{{images.image.1.uri}}"></img> </td>
			<td>{{prettifyTime programdata.airtimeBegin}} - </td>
			<td>{{prettifyTime endTime}}</td>
  		</tr>
  		<tr>
			<td> <a href="{{url}}">Mehr Infos</a></td>
			<td>  </td>
			<td>  </td>
  		</tr>	
	</table>
		
	<p>{{beschreibung}}</p>
	<a href="#" data-role="button" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all">
		<span class="ui-btn-inner">
			<span class="ui-btn-text">Schließen</span>
		</span>
	</a>

  </div>
</div>

<!-- 
endTime: "2013-10-09T09:05:00+02:00"
id: "16cd923a109e9cb8087ee025a2d083d2"
images.image[0].
				cuttingDimension: Object
					contentId: 142
					externalId: "6c37c877-3450-3f0d-98b0-ded5be898ecd"
					height: 378
					name: "MMBuehne_Bild_Video_5-5_672x378"
					width: 672
				uri
link: "http://www.zdf.de/ZDF/zdfportal/xml/epg/20213157,c78223ab-14bd-3950-adeb-e5b0c7b0f049"
livestream: "true"
programdata: 
	actorDetails: Array[0]
	airtimeBegin: "2013-10-09T09:00:00+02:00"
	airtimeDate: "2013-10-09T00:00:00+02:00"
	audioComments: "false"
	blackwhite: "false"
	broadcastStation: Object
	caption: "false"
	country: "Deutschland"
	crewFunctionDetails: Array[0]
	dolbyDigital51: "false"
	dolbySurround: "false"
	dualchannel: "false"
	duration: 5
	foreignLangWithCaption: "false"
	genre: "Nachrichten"
	guests: Array[0]
	hd: "false"
	livestream: "true"
	url: "http://www.zdf.de/ZDF/zdfportal/xml/epg/20213157,c78223ab-14bd-3950-adeb-e5b0c7b0f049"
	vpsBegin: "2013-10-09T09:00:00+02:00"
	widescreen169: "false"
	year: 2013
station: Object
time: "2013-10-09T09:00:00+02:00"
titel: "heute"
tvTipp: "false"
url:
 -->