{{origin}}/{{url}}/v2/all/now/xml
{{origin}}/{{url}}/v2/all/now/json


{{origin}}/{{url}}/v2/zdf/now/xml
{{origin}}/{{url}}/v2/zdf/now/json

{{origin}}/{{url}}/v2/zdfneo/now/xml
{{origin}}/{{url}}/v2/zdfneo/now/json

{{origin}}/{{url}}/v2/zdfinfo/now/xml
{{origin}}/{{url}}/v2/zdfinfo/now/json

{{origin}}/{{url}}/v2/zdfkultur/now/xml
{{origin}}/{{url}}/v2/zdfkultur/now/json

{{origin}}/{{url}}/v2/3sat/now/xml
{{origin}}/{{url}}/v2/3sat/now/json

{{origin}}/{{url}}/v2/arte/now/xml
{{origin}}/{{url}}/v2/arte/now/json

{{origin}}/{{url}}/v2/kika/now/xml
{{origin}}/{{url}}/v2/kika/now/json

{{origin}}/{{url}}/v2/phoenix/now/xml
{{origin}}/{{url}}/v2/phoenix/now/json





{{origin}}/{{url}}/v2/all/today/xml
{{origin}}/{{url}}/v2/all/today/json


{{origin}}/{{url}}/v2/zdf/today/xml
{{origin}}/{{url}}/v2/zdf/today/json
								
{{origin}}/{{url}}/v2/zdfneo/today/xml
{{origin}}/{{url}}/v2/zdfneo/today/json

{{origin}}/{{url}}/v2/zdfinfo/today/xml
{{origin}}/{{url}}/v2/zdfinfo/today/json

{{origin}}/{{url}}/v2/zdfkultur/today/xml
{{origin}}/{{url}}/v2/zdfkultur/today/json

{{origin}}/{{url}}/v2/3sat/today/xml
{{origin}}/{{url}}/v2/3sat/today/json

{{origin}}/{{url}}/v2/arte/today/xml
{{origin}}/{{url}}/v2/arte/today/json

{{origin}}/{{url}}/v2/kika/today/xml
{{origin}}/{{url}}/v2/kika/today/json

{{origin}}/{{url}}/v2/phoenix/today/xml
{{origin}}/{{url}}/v2/phoenix/today/json





{{origin}}/{{url}}/getById/json/{{id}}
{{origin}}/{{url}}/getById/xml/{{id}}
								
{{origin}}/{{url}}/lastModified/json
{{origin}}/{{url}}/lastModified/xml

{{origin}}/{{url}}/getById/json/{{id}}/small
{{origin}}/{{url}}/getById/json/{{id}}/large