{{origin}}/{{url}}/all/now/xml
{{origin}}/{{url}}/all/now/json

{{origin}}/{{url}}/zdf/now/xml
{{origin}}/{{url}}/zdf/now/json

{{origin}}/{{url}}/zdfneo/now/xml
{{origin}}/{{url}}/zdfneo/now/json

{{origin}}/{{url}}/zdfinfo/now/xml
{{origin}}/{{url}}/zdfinfo/now/json

{{origin}}/{{url}}/zdfkultur/now/xml
{{origin}}/{{url}}/zdfkultur/now/json

{{origin}}/{{url}}/3sat/now/xml
{{origin}}/{{url}}/3sat/now/json

{{origin}}/{{url}}/arte/now/xml
{{origin}}/{{url}}/arte/now/json


{{origin}}/{{url}}/all/today/xml
{{origin}}/{{url}}/all/today/json

{{origin}}/{{url}}/zdf/today/xml
{{origin}}/{{url}}/zdf/today/json
								
{{origin}}/{{url}}/zdfneo/today/xml
{{origin}}/{{url}}/zdfneo/today/json

{{origin}}/{{url}}/zdfinfo/today/xml
{{origin}}/{{url}}/zdfinfo/today/json

{{origin}}/{{url}}/zdfkultur/today/xml
{{origin}}/{{url}}/zdfkultur/today/json

{{origin}}/{{url}}/3sat/today/xml
{{origin}}/{{url}}/3sat/today/json

{{origin}}/{{url}}/arte/today/xml
{{origin}}/{{url}}/arte/today/json

{{origin}}/{{url}}/getById/json/{{id}}
{{origin}}/{{url}}/getById/xml/{{id}}
								
{{origin}}/{{url}}/lastModified/json
{{origin}}/{{url}}/lastModified/xml

{{origin}}/{{url}}/getById/json/{{id}}/small
{{origin}}/{{url}}/getById/json/{{id}}/large