http://sofa01.zdf.de/{{url}}/all/now/xml
http://sofa01.zdf.de/{{url}}/all/now/json

http://sofa01.zdf.de/{{url}}/zdf/now/xml
http://sofa01.zdf.de/{{url}}/zdf/now/json

http://sofa01.zdf.de/{{url}}/zdfneo/now/xml
http://sofa01.zdf.de/{{url}}/zdfneo/now/json

http://sofa01.zdf.de/{{url}}/zdfinfo/now/xml
http://sofa01.zdf.de/{{url}}/zdfinfo/now/json

http://sofa01.zdf.de/{{url}}/zdfkultur/now/xml
http://sofa01.zdf.de/{{url}}/zdfkultur/now/json

http://sofa01.zdf.de/{{url}}/all/today/xml
http://sofa01.zdf.de/{{url}}/all/today/json

http://sofa01.zdf.de/{{url}}/zdf/today/xml
http://sofa01.zdf.de/{{url}}/zdf/today/json
								
http://sofa01.zdf.de/{{url}}/zdfneo/today/xml
http://sofa01.zdf.de/{{url}}/zdfneo/today/json

http://sofa01.zdf.de/{{url}}/zdfinfo/today/xml
http://sofa01.zdf.de/{{url}}/zdfinfo/today/json

http://sofa01.zdf.de/{{url}}/zdfkultur/today/xml
http://sofa01.zdf.de/{{url}}/zdfkultur/today/json

http://sofa01.zdf.de/{{url}}/getById/json/{{id}}
http://sofa01.zdf.de/{{url}}/getById/xml/{{id}}
								
http://sofa01.zdf.de/{{url}}/lastModified/json
http://sofa01.zdf.de/{{url}}/lastModified/xml

http://sofa01.zdf.de/{{url}}/getById/json/{{id}}/small
http://sofa01.zdf.de/{{url}}/getById/json/{{id}}/large