<tr style="color:{{color}}">
	<td class="i">{{i}}}</td>
		<td><a style="color: inherit;" id='{{id}}}' href="void(0)" onclick="return getDetails(this.id);">{{titel}}</a></td>
		<td>{{age}}</td>
	<td>
		<table>
			<tr>
				<td>Startzeit</td>
				<td class="time">{{time}}</td>
			</tr>
			<tr>
				<td>Programmende</td>
				<td class="time">{{endtime}}</td>
			</tr>		
		</table>
	</td>
	<td>
		<table>
			<tr>
				<td>Erstellt</td>
				<td class="time">{{created}}</td>
			</tr>
			<tr>
				<td>Letzte Änderung</td>
				<td class="time">{{created}}</td>
			</tr>		
		</table>
	</td>	
</tr>